.container{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* color: white; */
}

.progressContainer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 500px;
    padding-bottom: 20px;
    margin: 0 auto; /* Center the container */
}

.progressStyle {
    align-self: center;
}

.contentText {
    font-size: 18;
    color: azure;
    align-self: center;
    font-family: EduBold;
    margin-bottom: 50px;
}

.resultText {
    font-size: 19;
    color: azure;
    align-self: center;
    font-family: EduRegular;
}
.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto; /* Center the container */
}

.contentStatusText {
    font-size: 16;
    color: azure;
    align-self: center;
    font-family: EduRegular;
}